.raw{
    margin-left: 20px;

}
.poster{
    margin: auto;
    display:flex;
    padding:20px;
    overflow-x: scroll;
    overflow-y: hidden;

}
/* 
.poster::-webkit-scrollbar{
    display: none;
} */
.posters
{
    max-height: 250px !important;
    margin-right:10px;
    cursor: pointer;

}
.smallposter{
    max-height:150px !important;
    justify-content: space-between;
    padding:10px;
    cursor:pointer
}
.posters:hover
{
    transform: scale(1.09)
}

.smallposter:hover{
    transform:scale(1.1)
}